{% extends 'base.html' %}

{% block conteudo %} 
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 my-2">
            <h2>CADASTRAR NOTÍCIA</h2>
            <form action="{% url 'cadastronoticia' %}" method="post">
                {% csrf_token %}
                <div class="form-group my-2">
                    {{ form.categoria }}
                </div>
                <div class="form-group my-2">
                    {{ form.nome }}
                </div>
                <div class="form-group my-2">
                    {{ form.corpo }}
                </div>
                <div class="form-group my-2">
                    {{ form.imagem }}
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
