{% extends 'base.html' %}

{% block conteudo %}
    <div class="container mt-4">
        <h1> {{ noticia.nome }} </h1>
        <p> {{ noticia.data }} </p>
        <p> {{ noticia.categoria }} </p>
        
        {% load static %}
        {% for imagem in noticia.imagem_set.all %}
            <img src="{% static imagem.nome %}" alt="Imagem ilustrativa" class="rounded mx-auto d-block" class="img-fluid" style="max-width: 100%;">
        {% endfor %}

    <div class="mb-4"></div>
        {% for corpo in noticia.corpo_set.all %}
            <p> {{ corpo.corpo }} </p>
        {% endfor %}
    </div>

    <form method="post" class="mb-5">
        {% csrf_token %}
        <textarea name="comentario" class="form-control mb-4" placeholder="Deixe seu comentário aqui"></textarea>
        <button type="submit" class="btn btn-primary">Enviar Comentário</button>
    </form>

    <h3>Comentários:</h3>
    {% for comentario in noticia.comentario_set.all %}
        <div class="card mb-4">
            <div class="card-body">
                {% if comentario.corpo|length > 150 %}
                    <p>{{ comentario.corpo|slice:":150" }}</p>
                    <a href="#" class="btn btn-link" data-toggle="collapse" data-target="comentario{{ comentario.id }}">Ver mais</a>
                    <div id="comentario{{ comentario.id }}" class="collapse">
                        <p>{{ comentario.corpo|slice:"150" }}</p>
                    </div>
                {% else %}
                    <p>{{ comentario.corpo }}</p>
                {% endif %}
                    <p class="text-muted">Enviado em: {{ comentario.data }}</p>
            </div>
            {% empty %}
                <p>Ainda não há comentários para esta notícia.</p>
            {% endfor %}
        </div>
{% endblock conteudo %}