{% extends 'base.html' %}

{% block conteudo %}
<div class="container">
  <div class="row">
    {% for noticia in todas_noticias %}
    <div class="col-md-4 p-2">
      {% for imagem in noticia.imagem_set.all %}
      {% load static %}
        <img src="{% static imagem.nome %}" class="card-img-top img-fluid" alt="Imagem de ilustração">
      {% endfor %}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ noticia.nome }}</h5>
          <div class="card-text" style="max-height: 200px; overflow-y: auto;">
          {% for corpo in noticia.corpo_set.all %}
              <p>{{ corpo.corpo }}</p>
          {% endfor %}  
          </div>
          <a href="" class="btn btn-primary">Ler mais</a>
        </div>
      </div>
    </div>
  {% empty %}
    <p>Não há notícias.</p>
  {% endfor %}
  </div>
</div>
{% endblock conteudo %}
